
<h1><%= @articles_title %></h1>

<table>
  <thead>
  <tr>
    <th>Tilte</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @articles%>
  </tbody>
</table>

<br>
